// Fonts
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

$font-primary: 'Noto Sans KR', sans-serif;
$font-secondary: 'Crimson Text', serif;

// Colors
$color-accent: #d4a259;
$dark-gray: #1d1d1d;
$gray-darkest: #3a3a3a;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
$gold-lighter: #eae0d1;
